# =============================
# SBT / Scala
# =============================
target/
project/target/
project/project/
data/
.metals/
.bloop/
.idea/
.ensime_cache/
*.class
*.jar
*.log
*.lock
*.cache

# =============================
# Fichiers système
# =============================
.DS_Store
Thumbs.db

# =============================
# Docker / Python / Divers
# =============================
__pycache__/
*.pyc
*.pyo
*.zip
*.tar
*.gz
*.cfg
.env

# =============================
# Fichiers temporaires ou logs
# =============================
*.bak
*.log
*.swp
*.tmp

# =============================
# IDE & outils de dev
# =============================
.idea/
.metals/
.vscode/